<div class="page-give-classes">
  <div class="container">
    <header class="page-header">
      <div class="top-bar-container">
        <a href="/">
          <img src="assets/img/icons/back.svg" alt="Voltar">
        </a>
      </div>
      <div class="header-content">
        <strong>Esqueceu sua senha</strong>
        <p>Forneça seu e-mail e em seguida enviaremos as intruções para resetar sua senha.</p>
      </div>
    </header>
    <main>
      <form [formGroup]="form" (ngSubmit)="enviar()">
        <fieldset>
          <legend>Seus dados</legend>
          <div class="input-block">
            <label for="email">E-mail</label>
            <input name="email" id="email" formControlName="email" required>
          </div>
        </fieldset>
        <footer>
          <p>
            <img src="assets/img/icons/warning.svg" alt="Aviso importante">
            Importante! <br>
            Após solicitar a recuperação de senha verifica sua caixa de spam.
          </p>
          <button type="submit">Enviar Solicitação</button>
        </footer>
      </form>
    </main>
  </div>
</div>